workflows/workflow_3_data_retention_v1_lean.json
{
  "name": "Data Retention V1 Lean",
  "description": "12-hour scheduled cleanup with bounded deletes on supervisor_events, stale circuit auto-reset safety valve, table size monitoring, lightweight schema presence check, ANALYZE pass, quiet-by-default Telegram reporting, retention_completed event logging, and failure caching for heartbeat pickup.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 12 }]
        }
      },
      "id": "trigger-schedule-ret-v1l",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH del_events AS (\n  DELETE FROM supervisor_events\n  WHERE id IN (\n    SELECT id FROM supervisor_events\n    WHERE created_at < NOW() - INTERVAL '90 days'\n    LIMIT 1000\n  )\n  RETURNING id\n),\nstale_circuit AS (\n  UPDATE circuit_state\n  SET status = 'closed', error_count = 0, updated_at = NOW()\n  WHERE circuit_key = 'supervisor'\n    AND status = 'open'\n    AND last_error_at < NOW() - INTERVAL '1 hour'\n    AND opened_at < NOW() - INTERVAL '1 hour'\n  RETURNING circuit_key\n)\nSELECT\n  (SELECT COUNT(*) FROM del_events) AS deleted_events_count,\n  (SELECT COUNT(*) > 0 FROM stale_circuit) AS stale_circuit_reset,\n  (SELECT COUNT(*) FROM supervisor_events) AS total_events,\n  (SELECT pg_size_pretty(pg_total_relation_size('supervisor_events'))) AS events_table_size,\n  (SELECT pg_total_relation_size('supervisor_events')) AS events_table_size_bytes,\n  (SELECT COUNT(*) FROM schema_versions WHERE version = 'v1_lean') AS schema_version_present,\n  (SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'public' AND table_name IN ('circuit_state', 'supervisor_events', 'schema_versions')) AS expected_tables_found",
        "options": { "alwaysOutputData": true }
      },
      "id": "pg-cleanup-v1l",
      "name": "Postgres (Cleanup)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function htmlEscape(text) {\n  return String(text || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nconst item = $input.first().json || {};\nconst staticData = $getWorkflowStaticData('global');\nconst isDbError = !!(item.error && typeof item.error === 'object' && item.error.message);\n\nif (isDbError) {\n  return [{\n    json: {\n      report: '\\u{1F534} <b>DATA RETENTION \\u2014 DB ERROR</b>\\n\\nCleanup query failed.\\n\\n<b>Error:</b> <code>' + htmlEscape(String(item.error.message).substring(0, 500)) + '</code>\\n<b>Timestamp:</b> ' + new Date().toISOString(),\n      isDbError: true,\n      isLimitHit: false,\n      deletedEvents: 0,\n      totalEvents: 0,\n      eventsTableSize: 'unknown',\n      eventsTableSizeBytes: 0,\n      staleCircuitReset: false,\n      schemaVersionPresent: false,\n      expectedTablesFound: 0,\n      schemaOk: false,\n      shouldNotify: true,\n      notifyReason: 'db_error'\n    }\n  }];\n}\n\nconst deletedEvents = parseInt(item.deleted_events_count, 10) || 0;\nconst staleCircuitReset = item.stale_circuit_reset === true || item.stale_circuit_reset === 't';\nconst isLimitHit = deletedEvents >= 1000;\nconst totalEvents = parseInt(item.total_events, 10) || 0;\nconst eventsTableSize = item.events_table_size || 'unknown';\nconst eventsTableSizeBytes = parseInt(item.events_table_size_bytes, 10) || 0;\nconst schemaVersionPresent = (parseInt(item.schema_version_present, 10) || 0) > 0;\nconst expectedTablesFound = parseInt(item.expected_tables_found, 10) || 0;\nconst schemaOk = schemaVersionPresent && expectedTablesFound === 3;\n\nconst tableSizeThresholdBytes = 50 * 1024 * 1024;\nconst tableSizeWarning = eventsTableSizeBytes > tableSizeThresholdBytes;\n\nconst now = Date.now();\nconst lastReportAt = staticData.lastRetentionReportAt || 0;\nconst daysSinceLastReport = (now - lastReportAt) / (1000 * 60 * 60 * 24);\nconst weeklyReportDue = daysSinceLastReport >= 7;\n\nlet shouldNotify = false;\nlet notifyReason = 'routine_silent';\n\nif (isDbError) { shouldNotify = true; notifyReason = 'db_error'; }\nelse if (!schemaOk) { shouldNotify = true; notifyReason = 'schema_drift'; }\nelse if (isLimitHit) { shouldNotify = true; notifyReason = 'limit_hit'; }\nelse if (staleCircuitReset) { shouldNotify = true; notifyReason = 'stale_circuit_reset'; }\nelse if (tableSizeWarning) { shouldNotify = true; notifyReason = 'table_size_warning'; }\nelse if (weeklyReportDue) { shouldNotify = true; notifyReason = 'weekly_summary'; }\n\nlet report = '\\u{1F9F9} <b>DATA RETENTION REPORT \\u2014 V1 Lean</b>\\n\\n'\n  + '<b>Deleted Events (90d):</b> ' + deletedEvents + '\\n'\n  + '<b>Remaining Events:</b> ' + totalEvents + '\\n'\n  + '<b>Events Table Size:</b> ' + eventsTableSize + '\\n'\n  + '<b>Schema:</b> ' + (schemaOk ? '\\u2705 v1_lean present, 3/3 tables' : '\\u26A0\\uFE0F check needed \\u2014 version: ' + (schemaVersionPresent ? 'yes' : 'no') + ', tables: ' + expectedTablesFound + '/3');\n\nif (staleCircuitReset) {\n  report += '\\n\\n\\u26A0\\uFE0F <b>STALE CIRCUIT RESET:</b> Circuit was open for &gt;1 hour with no new errors. Auto-reset to closed.';\n}\n\nif (isLimitHit) {\n  report += '\\n\\n\\u26A0\\uFE0F <b>LIMIT HIT:</b> Events table hit the 1000-row deletion cap. Run retention again if backlog persists.';\n}\n\nif (tableSizeWarning) {\n  report += '\\n\\n\\u26A0\\uFE0F <b>TABLE SIZE WARNING:</b> supervisor_events is ' + eventsTableSize + ' (threshold: 50 MB).';\n}\n\nif (weeklyReportDue && !staleCircuitReset && !isLimitHit && !tableSizeWarning && schemaOk) {\n  report += '\\n\\n\\u{1F4C5} <i>Weekly scheduled report \\u2014 no issues detected.</i>';\n}\n\nreturn [{\n  json: {\n    report: report,\n    isDbError: false,\n    isLimitHit: isLimitHit,\n    deletedEvents: deletedEvents,\n    totalEvents: totalEvents,\n    eventsTableSize: eventsTableSize,\n    eventsTableSizeBytes: eventsTableSizeBytes,\n    staleCircuitReset: staleCircuitReset,\n    schemaVersionPresent: schemaVersionPresent,\n    expectedTablesFound: expectedTablesFound,\n    schemaOk: schemaOk,\n    tableSizeWarning: tableSizeWarning,\n    shouldNotify: shouldNotify,\n    notifyReason: notifyReason\n  }\n}];"
      },
      "id": "code-eval-cleanup-v1l",
      "name": "Evaluate Cleanup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ANALYZE supervisor_events;\nANALYZE circuit_state;",
        "options": { "alwaysOutputData": true }
      },
      "id": "pg-analyze-v1l",
      "name": "Postgres (Analyze)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [750, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function htmlEscape(text) {\n  return String(text || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nconst item = $input.first().json || {};\nconst evalData = (() => {\n  try { return $('Evaluate Cleanup').first().json || {}; } catch(e) { return {}; }\n})();\n\nlet report = evalData.report || '\\u{1F9F9} <b>DATA RETENTION REPORT</b>\\n\\nNo cleanup report was generated.';\nconst analyzeError = !!(item.error && typeof item.error === 'object' && item.error.message);\n\nif (analyzeError) {\n  report += '\\n\\n\\u26A0\\uFE0F <b>ANALYZE FAILED:</b> <code>' + htmlEscape(String(item.error.message).substring(0, 500)) + '</code>';\n} else {\n  report += '\\n\\n\\u2705 <b>ANALYZE:</b> completed successfully.';\n}\n\nreport += '\\n\\n<b>Timestamp:</b> ' + new Date().toISOString();\n\nlet shouldNotify = evalData.shouldNotify || false;\nlet notifyReason = evalData.notifyReason || 'routine_silent';\n\nif (analyzeError && !shouldNotify) {\n  shouldNotify = true;\n  notifyReason = 'analyze_failed';\n}\n\nreturn [{\n  json: {\n    ...evalData,\n    report: report,\n    analyzeOk: !analyzeError,\n    analyzeErrorMessage: analyzeError ? item.error.message : '',\n    shouldNotify: shouldNotify,\n    notifyReason: notifyReason\n  }\n}];"
      },
      "id": "code-check-analyze-v1l",
      "name": "Check Analyze Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "should-notify-ret-v1l",
              "leftValue": "={{ $json.shouldNotify }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-notify-v1l",
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.report }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "tg-retention-report-v1l",
      "name": "Telegram (Retention Report)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1500, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO supervisor_events (trace_id, event_type, workflow_name, execution_id, severity, status, payload)\nVALUES (\n  'retention-' || EXTRACT(EPOCH FROM NOW())::INTEGER,\n  'retention_completed',\n  'Data Retention',\n  'retention',\n  $1,\n  $2,\n  $3::jsonb\n)",
        "options": {
          "queryReplacement": "={{ ($json.isDbError || !$json.analyzeOk || !$json.schemaOk || $json.isLimitHit || $json.staleCircuitReset || $json.tableSizeWarning) ? 'warning' : 'info' }},={{ ($json.isDbError || !$json.analyzeOk || !$json.schemaOk || $json.isLimitHit || $json.staleCircuitReset || $json.tableSizeWarning) ? 'completed_with_warnings' : 'completed' }},={{ JSON.stringify({ deleted_events: $json.deletedEvents, total_events: $json.totalEvents, events_table_size: $json.eventsTableSize, stale_circuit_reset: $json.staleCircuitReset, limit_hit: $json.isLimitHit, schema_ok: $json.schemaOk, schema_version_present: $json.schemaVersionPresent, expected_tables_found: $json.expectedTablesFound, analyze_ok: $json.analyzeOk, table_size_warning: $json.tableSizeWarning, notify_reason: $json.notifyReason, notified: $json.shouldNotify }) }}"
        }
      },
      "id": "pg-log-retention-v1l",
      "name": "Log Retention Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1750, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst evalData = (() => {\n  try { return $('Check Analyze Result').first().json || {}; } catch(e) { return {}; }\n})();\n\nif (evalData.shouldNotify) {\n  staticData.lastRetentionReportAt = Date.now();\n}\n\nreturn [{ json: { done: true, notified: evalData.shouldNotify || false, notifyReason: evalData.notifyReason || 'silent' } }];"
      },
      "id": "code-update-report-ts-v1l",
      "name": "Update Report Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst item = $input.first().json || {};\nif (!staticData.eventFailures) staticData.eventFailures = [];\nstaticData.eventFailures.push({\n  timestamp: new Date().toISOString(),\n  traceId: item.traceId || 'unknown',\n  eventType: 'alert_failed',\n  source: 'Data Retention',\n  workflowName: 'Data Retention',\n  failedNode: item.failedNode || 'unknown',\n  reason: item.error?.message || 'Telegram or Postgres delivery failed'\n});\nif (staticData.eventFailures.length > 50) {\n  staticData.droppedCacheCount = (staticData.droppedCacheCount || 0) + (staticData.eventFailures.length - 50);\n  staticData.eventFailures = staticData.eventFailures.slice(-50);\n}\nreturn [{ json: { cached: true, count: staticData.eventFailures.length, droppedCacheCount: staticData.droppedCacheCount || 0 } }];"
      },
      "id": "code-cache-ret-fail-v1l",
      "name": "Cache Retention Alert Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "content": "## \uD83E\uDDF9 Data Retention V1 Lean (Final Build)\n**Every 12h: Cleanup \u2192 Evaluate \u2192 Analyze \u2192 Notify? \u2192 Log \u2192 Done**\n\n- Quiet by default: only notifies on errors, schema drift, limit hit, stale circuit reset, table size warning, or weekly summary\n- Stale circuit reset forces notification (defense-in-depth visibility)\n- Table size monitoring with 50MB threshold warning\n- Schema check: v1_lean version + 3 expected tables\n- Bounded delete: 90 days, LIMIT 1000\n- ANALYZE for query planner freshness\n- retention_completed logged on ALL paths (silent and notified)\n- Weekly report timestamp tracked in staticData\n- htmlEscape on dynamic error text\n- Standardized failure cache payload\n- Parameterized Log Retention Completed",
        "width": 480,
        "height": 310
      },
      "id": "sticky-ret-v1l",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -30]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Postgres (Cleanup)", "type": "main", "index": 0 }]]
    },
    "Postgres (Cleanup)": {
      "main": [
        [{ "node": "Evaluate Cleanup", "type": "main", "index": 0 }],
        [{ "node": "Evaluate Cleanup", "type": "main", "index": 0 }]
      ]
    },
    "Evaluate Cleanup": {
      "main": [[{ "node": "Postgres (Analyze)", "type": "main", "index": 0 }]]
    },
    "Postgres (Analyze)": {
      "main": [
        [{ "node": "Check Analyze Result", "type": "main", "index": 0 }],
        [{ "node": "Check Analyze Result", "type": "main", "index": 0 }]
      ]
    },
    "Check Analyze Result": {
      "main": [[{ "node": "Should Notify?", "type": "main", "index": 0 }]]
    },
    "Should Notify?": {
      "main": [
        [{ "node": "Telegram (Retention Report)", "type": "main", "index": 0 }],
        [{ "node": "Log Retention Completed", "type": "main", "index": 0 }]
      ]
    },
    "Telegram (Retention Report)": {
      "main": [
        [{ "node": "Log Retention Completed", "type": "main", "index": 0 }],
        [{ "node": "Cache Retention Alert Failure", "type": "main", "index": 0 }]
      ]
    },
    "Log Retention Completed": {
      "main": [
        [{ "node": "Update Report Timestamp", "type": "main", "index": 0 }],
        [{ "node": "Cache Retention Alert Failure", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 180
  },
  "staticData": null,
  "tags": [{ "name": "production-v1-lean" }, { "name": "supervisor" }, { "name": "data-retention" }]
}
